/* 头部信息 */
body{
     font-size:12px;
}
.new-top{
     width:950px;
	 height:auto;
	 margin:0px;
	 padding:0px;
	 background:url(../images/manager_bg_top.gif) left top repeat-x;
}
.new-top .logo{
   width:270px;
   height:73px;
   float:left;
}
.new-top .link{
     width:330px;
	 text-align:right;
	 margin:10px 10px 0 0;
	 line-height:25px;
	 float:right;
}
.new-ys{
    color:#FFFFFF;
	font-size:13px;
}
.new-ys a:link, .new-ys a:visited,.new-ys a:active{
    color:#FFFFFF;
	text-decoration:none;
	font-size:13px;
}	
.new-ys a:hover{
    color:#FFFFFF;
	text-decoration: underline;
	font-size:13px;
}	