<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>玻璃巴巴B2B平台</title>
<link href="five_layout.css" rel="stylesheet" type="text/css" />
</head>
<script type="text/javascript" src="mobandh.js"></script>
<body class="bg">
<!--头部1-->
<div class="moban_top" align="center">
<div class="moban_top_div">
<div class="moban_top_left"><a href="#">收藏本公司</a>  | <a href="#">设为首页</a></div>
<div class="moban_top_right"><img src="images/max.gif" align="absbottom"/>&nbsp;<a href="#">登录商务室</a> | <a href="#">发布产品信息</a> | <a href="#">金牌会员</a> | <a href="#">联系我们</a> | <a href="#">客服中心</a>
</div>
</div>
<!--头部2-->
<div class="moban-banner">
	<div class="moban_head">
		 <div class="moban_head_left">
			<h1>莱芜市阳光玻璃有限公司</h1>
			<p>主营产品：夹胶玻璃;弧形玻璃;防弹玻璃;钢化玻璃;中空玻璃;</p>
		 </div>
		<div class="moban_head_right">
					<div class="moban_head_right_zi">第一年</div>
		</div>
	</div>
<!--banner条-->

<div class="moban-banner-zi">
合肥网龙科技技术有限公司</div>
</div>

<!--导航-->
<div class="moban-dh">
<table border="0" cellpadding="0" cellspacing="0"  align="center">
  <tr><td width="20"></td><td align="center" class=dh id="top_dh0"><a href="index.htm">公司介绍</a></td>
<td align="center" class=dh id="top_dh1"><a href="supply.htm">最新供应</a></td>
<td align="center" class=dh id="top_dh2"><a href="credit.htm">资质荣誉</a></td>
<td align="center" class=dh id="top_dh3"><a href="stock.htm">公司采购</a></td>
<td align="center" class=dh id="top_dh4"><a href="active.htm">公司动态</a></td>
<td align="center" class=dh id="top_dh5"><a href="bidding.htm">公司招标</a></td>
<td align="center" class=dh id="top_dh6"><a href="techo.htm">公司技术</a></td>
<td align="center" class=dhse id="top_dh7"><a href="product.htm">公司产品</a></td>
<td align="center" class=dh id="top_dh8"><a href="resume.htm">招聘中心</a></td>
<td align="center" class=dh id="top_dh9"><a href="leavel.htm">客户留言</a></td></tr></table>
</div>



<div class="moban-width">

<!--左边-->
<div class="moban-left" align="center">
<!--栏目条1-->
<div class="moban-left-lmt">
<div class="moban-left-lmt1">联系方式</div>
<div class="moban-left-lmt2"><a href="#">更多</a></div>
</div>
<!--内容1-->
<div class="moban-left-xian">
<div class="moban-left-zi0">
联系人:王先生&nbsp;&nbsp;<img src="images/qq.gif" align="absmiddle" border="0"></div>
<div class="moban-left-zi">
法人代表：{#juristic#}<br>			 
邮箱：{#mail#}<br>
电话：{#telephone#}<br>
传真：{#fax#}<br>
地址：{#address#}<br>
邮编：{#postcode#}<br>
网站地址：{#website#}</div>
</div>
<!--栏目条2-->
<div class="moban-left-lmt">
<div class="moban-left-lmt1">友情链接</div>
<div class="moban-left-lmt2"><a href="#">更多</a></div>
</div>
<!--内容2-->
<div class="moban-left-xian">
<div class="moban-leftlist">
<div class="moban-left-list"><ol><li><a href="#">网龙科技技术有限公司</a></li></ol> </div>
</div></div>

</div>

<!--右边-->
<div class="moban-right">
<!--产品信息-->
<div class="moban-right-lmt">
<div class="moban-right-lmt1">产品信息</div>
<div class="moban-right-lmt2"><a href="#">更多</a></div>
</div>
<div class="cswidth"><table width="94%" border="0" align="center" cellpadding="0" cellspacing="1">
                  <tr>
                    <td width="50%"><table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><img src="images/cpwu.gif" width="270" height="246"></td>
                        </tr>
                        <tr>
                          <td align="center" height="36"><img src="images/Content_11.gif" width="91" height="15">&nbsp;&nbsp;<img src="images/Content_13.gif" width="80" height="15"></td>
                        </tr>
                    </table></td>
                    <td width="50%"><table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#EFEFEF">
                        <tr>
                          <td width="27%" bgcolor="#FFFFFF">产品名称: </td>
                          <td width="73%" bgcolor="#FFFFFF">玻璃</td>
                        </tr>
                        <tr>
                          <td bgcolor="#FFFFFF"> 价&nbsp;&nbsp;&nbsp;格:<span class="zi"> </span></td>
                          <td bgcolor="#FFFFFF">面议</td>
                        </tr>
                        <tr>
                          <td bgcolor="#FFFFFF">所 在 地:</td>
                          <td bgcolor="#FFFFFF">合肥</td>
                        </tr>
                        <tr>
                          <td bgcolor="#FFFFFF">发布日期:</td>
                          <td bgcolor="#FFFFFF">2008-07-02</td>
                        </tr>
                        <tr>
                          <td bgcolor="#FFFFFF">有 效 期:</td>
                          <td bgcolor="#FFFFFF">2009-07-02</td>
                        </tr>
                      </table>
                        <table width="100%" border="0" cellspacing="1" cellpadding="0">
                          <tr>
                            <td height="1" class="xian"></td>
                          </tr>
                          <tr>
                            <td height="30"><table width="86%" border="0" cellpadding="5" cellspacing="1" bgcolor="FFC367">
                                <tr>
                                  <td bgcolor="FFF8EE"><div><a href="#"><img src="images/Mouse.gif" width="118" height="34" border="0"></a> <a href="#"><img src="images/qq.gif" width="60" height="16" border="0" align="absmiddle"></a></div></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="1" class="xian"></td>
                          </tr>
                          <tr>
                            <td height="30">该公司共有<span class="zi">100</span>条同类产品 <a href="#" class="lanse">上一页</a> <a href="#" class="lanse">9</a> <a href="#" class="lanse">10</a> <a href="#" class="zhong">11</a><a href="#" class="lanse">下一页</a> </td>
                          </tr>
                      </table></td>
                  </tr>
                </table>
				<table width="100%" border="0" cellspacing="1" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table>
				<table width="94%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="26" class="leftbt14"><img src="images/tou1.gif" width="8" height="18" align="absmiddle"> 详细信息</td>
                  </tr>
                  <tr>
                    <td height="3" class="xian"></td>
                  </tr>
                </table>
				<table width="94%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#E1E1E1">
                  <TR>
                    <TD width="16%" align="right" bgColor="#f7f7f7">产品名称：</TD>
                    <TD width="84%" vAlign="top" bgColor="#FFFFFF">&nbsp;</TD>
                  </TR>
                  <TR>
                    <TD align="right" bgColor="#f7f7f7">详细说明：</TD>
                    <TD vAlign="top" bgColor="#FFFFFF">&nbsp;</TD>
                  </TR>
                  <TR>
                    <TD align="right" bgColor="#f7f7f7">产品价格：</TD>
                    <TD vAlign="top" bgColor="#FFFFFF">&nbsp;</TD>
                  </TR>
        </table>
				
				
				
				
				
				
				
	  </div>
</div>


</div>
<!--底部-->
<div class="moban-bottom"><div class="moban-bottom0"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="80">Copyright◎2008 玻璃有限公司  版权所有 <br>
地址：*********************** 技术支持：玻璃巴巴B2B平台 www.bolibaba.cn  <br>
<img src="images/cn.gif"></td>
  </tr>
</table>
</div></div>
</div>
</body>
</html>