<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<title>{#webtitle#}</title>
		<style type="text/css">
		<!--
		body {
			margin-left: 0px;
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
		}
		.ec4 {
				CURSOR: hand;
				background:url(/zone_b2b/images/sup_03.gif);
				COLOR: #8A0A0A;
				font-weight:bold;
				font-size: 13px;
			}
			.ec3 {CURSOR: hand; background:url(/zone_b2b/images/sup_05.gif); COLOR: #FE7C00; font-weight:bold;
				font-size: 12px;}
			}
		-->
		</style>
		<link href="/zone_b2b/css/css.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/zone_b2b/css/oocl_css.css" />
		<script type='text/javascript' src='/dwr/interface/AreaInfo.js'></script>
		<script type='text/javascript' src='/dwr/engine.js'></script>
		<script type='text/javascript' src='/dwr/util.js'></script>
		<script type="text/javascript" src="/js/prototype.js"></script>
		<script type="text/javascript" src="/zone_b2b/js/stock.js"></script>
	</head>
	<body>
		{#include:top#}
		<table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td height="5"></td>
			</tr>
			<tr>
				<td>
					<!--  img src="/zone_b2b/images/ba_41.gif" width="980" height="50" alt="" />-->
					<div id="adv-1"></div>
				</td>
			</tr>
			<tr>
				<td height="5"></td>
			</tr>
		</table>
		<table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td width="288" valign="top">
					<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="9BBDD3">
						<tr>
							<td valign="top" bgcolor="#FFFFFF">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td height="32" background="/zone_b2b/images/t-xian.gif" class="btlanse">
											&nbsp;&nbsp;<!--紧急采购-->Procurement of emergency
										</td>
									</tr>
								</table>
								<table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
									<tr>
										{#Emergency:picture:1#}
										<!--td width="35%" height="100"><img name="" src="/zone_b2b/images/cp.gif" width="83" height="53" alt="" /></td-->
										<td width="65%">
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												{#Emergency:title:1#}
											</table>
											<table width="100%" border="0" cellspacing="1" cellpadding="0">
												{#Emergency:title:2#}
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<table width="50%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="7"></td>
						</tr>
					</table>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="2">
								<img src="/zone_b2b/images/ba_105.gif" width="2" height="29" alt="">
							</td>
							<td align="center" background="/zone_b2b/images/ba_106.gif">
								<table width="96%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="5%">
											<img src="/zone_b2b/images/lujian.gif" width="5" height="9" />
										</td>
										<td width="78%" class="btlanse">
											Latest Lead
										</td>
										<td width="17%">
											<a href="/zone_b2b/stock/stock_List.jsp" class="lanse">more&gt;&gt;</a>
										</td>
									</tr>
								</table>
							</td>
							<td width="2">
								<img src="/zone_b2b/images/ba_109.gif" width="2" height="29" alt="">
							</td>
						</tr>
					</table>
					<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="9BBDD3">
						<tr>
							<td height="260" valign="top" bgcolor="#FFFFFF">
								<table width="100%" border="0" cellspacing="0" cellpadding="2">
									{#ProductCatalog#}
								</table>
							</td>
						</tr>
					</table>
					<table width="50%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="7"></td>
						</tr>
					</table>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="7">
								<!-- img src="/zone_b2b/images/ad.jpg" width="288" height="75">-->
								<div id="adv-2"></div>
							</td>
						</tr>
					</table>
					<table width="50%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="7"></td>
						</tr>
					</table>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="2">
								<img src="/zone_b2b/images/ba_115.gif" width="2" height="29" alt="">
							</td>
							<td align="center" background="/zone_b2b/images/ba_116.gif">
								<table width="96%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="5%">
											<img src="/zone_b2b/images/zse.gif" width="5" height="9" />
										</td>
										<td width="78%" class="bthong">
											<!--求购信息分类导航-->Lead Category
										</td>
										<td width="17%">
											<a href="/zone_b2b/stock/stock_List.jsp" class="zhong">more&gt;&gt;</a>
										</td>
									</tr>
								</table>
							</td>
							<td width="2">
								<img src="/zone_b2b/images/ba_117.gif" width="2" height="29" alt="">
							</td>
						</tr>
					</table>
					<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="FFC367">
						<tr>
							<td bgcolor="#FFFFFF">
								<table width="98%" height="10" border="0" align="center" cellpadding="0" cellspacing="0">
									<tr>
										<td></td>
									</tr>

								</table>
								{#CategoryNavigation#}
							</td>
						</tr>
					</table>
					<table width="100%" border="0" cellpadding="0" cellspacing="1" >
					<tr><td><img src="/zone_b2b/images/2.jpg"/></td>
					</tr></table>
				</td>
				<td valign="top">&nbsp;
					
				</td>
				<td width="680" valign="top">
					<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="E3E3E3">
						<tr>
							<td height="54" background="/zone_b2b/images/btt1.gif">
								<table width="80%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td class="btlanse">
											&nbsp;&nbsp;<!--快速查看-->Quick View
										</td>
									</tr>

								</table>
								<table width="100%" border="0" cellspacing="0" cellpadding="5">
									<tr>
										<td>
											<select name="prov" id="prov" onclick="setCityInfo(this.value)">
												<option value="0">
													<!--省份信息-->Information provinces
												</option>
												{#provice#}
											</select>
										</td>
										<td>
											<select name="city" id="city" style="width:150px">
												<option value="0">
													And city information
												</option>
											</select>
										</td>
										<td>
											<select name="part" id="part">
												<option value="0">
													Choose their area
												</option>
												{#calalog-stock#}
											</select>
										</td>
										<td align="right">
											
										</td>
										<td>
											<input name="stock_key" id="stock_key" type="text" class="0" value="enter a product name" size="20" maxlength="50" onMouseDown="this.value=''" onBlur="checkStockKeyWord()">
										</td>
										<td>
											<input type="submit" name="Submit3" value="Screening" onClick="searchStock()">
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<table width="50%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="10"></td>
						</tr>
					</table>
					<table border=0 cellpadding=0 cellspacing=0 width="100%">
						<tr align=middle>
							<td width="134" height="32" align="center" id="td0" class=ec4 onClick="secBoard(0)" style="padding-top:2">
								<!--求购列表-->Lead List
							</td>
							<td width="2" align="middle" background="/zone_b2b/images/sup_04.gif"></td>
							<!--td width="134" height="32" align="center" id="td1" class=ec3 onclick="secBoard(1)" style="padding-top:2">
								&nbsp;<最新求购Latest Buying>
							</td-->
							<td align="right" background="/zone_b2b/images/sup_04.gif">&nbsp;
								
							</td>
						</tr>
					</table>
					<!--求购列表-->
					<table width="100%" border="0" cellpadding="0" cellspacing="0" id="tbo0" valign="top">
						<tr>
							<td>
								<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="FFC367">
									<tr>
										<td height="255" valign="top" bgcolor="FFFFFF">
											<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
												<tr>
												<td width="23%" height="30">&nbsp;
													
												</td>
												 
												<td width="37%" class="STYLE2" colspan="2">
													Lead / Company
												</td>
												<td width="13%" class="STYLE2">
													Location
												</td>
												<td width="17%" class="STYLE2">
													Message / Contact
												</td>
											</tr>
											<tr>
												<td height="1" class="xian"></td>
												<td class="xian"></td>
												<td class="xian"></td>
												<td class="xian"></td>
												<td class="xian"></td>
											</tr>
											</table>
											<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
												{#stock-gener-5#}
											</table>
										</td>
									</tr>
								</table>
								<table width="100%" border="0" cellpadding="0" cellspacing="0"0>
									<tr>
										<td height="10"></td>
									</tr>
								</table>
								<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="E3E3E3">
									<tr>
										<td height="32" align="center" background="/zone_b2b/images/btt1.gif">
											<a href="/zone_b2b/stock/">[1]</a> <a href="/zone_b2b/stock/index2.html">[2]</a> <a href="/zone_b2b/stock/index3.html">[3]</a> <a href="/zone_b2b/stock/index4.html">[4]</a> <a href="/zone_b2b/stock/index5.html">[5]</a> <a href="/zone_b2b/stock/index6.html">[6]</a> <a href="/zone_b2b/stock/index7.html">[7]</a> <a href="/zone_b2b/stock/index8.html">[8]</a> <a href="/zone_b2b/stock/index9.html">[9]</a> <a href="/zone_b2b/stock/index2.html">[10]</a> <a href="/zone_b2b/stock/stock_List.jsp">all</a>
										</td>
									</tr>
								</table>
								<table width="100%" border="0" cellpadding="0" cellspacing="0"0>
									<tr>
										<td height="10"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!--最新求购-->
					<table width="100%" border="0" cellpadding="0" cellspacing="0" id="tbo1" style="display: none" valign="top">
						<tr>
							<td>
								<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="FFC367">
									<tr>
										<td height="255" valign="top" bgcolor="FFFFFF">
											<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
												<tr>
													<td width="23%" height="30">&nbsp;
														
													</td>
													 
													<td width="37%" class="STYLE2">
														Latest Lead / Company
													</td>
													<td width="13%" class="STYLE2">
														Location
													</td>
													<td width="16%" class="STYLE2">
														Message / Contact
													</td>
												</tr>
												<tr>
													<td height="1" class="xian"></td>
													<td class="xian"></td>
													<td class="xian"></td>
													<td class="xian"></td>
													<td class="xian"></td>
												</tr>
											</table>
											<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
												{#stock-new-5#}
											</table>
										</td>
									</tr>
								</table>
								<table width="100%" border="0" cellpadding="0" cellspacing="0"0>
									<tr>
										<td height="10"></td>
									</tr>
								</table>
								<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="E3E3E3">
									<tr>
										<td height="32" align="center" background="/zone_b2b/images/btt1.gif" style="font-weight: bold;">
											<a href="/zone_b2b/stock/">[1]</a> <a href="/zone_b2b/stock/index2.html">[2]</a> <a href="/zone_b2b/stock/index3.html">[3]</a> <a href="/zone_b2b/stock/index4.html">[4]</a> <a href="/zone_b2b/stock/index5.html">[5]</a> <a href="/zone_b2b/stock/index6.html">[6]</a> <a href="/zone_b2b/stock/index7.html">[7]</a> <a href="/zone_b2b/stock/index8.html">[8]</a> <a href="/zone_b2b/stock/index9.html">[9]</a> <a href="/zone_b2b/stock/index2.html">[10]</a> <a href="/zone_b2b/stock/stock_List.jsp">all</a>
										</td>
									</tr>
								</table>
								<table width="100%" border="0" cellpadding="0" cellspacing="0"0>
									<tr>
										<td height="10"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!--选项结束-->
				</td>
			</tr>
		</table>
		<center>
		{#include:bottom#}
		</center>
	</body>
</html>
