<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#WebTitle#}</title>
<link href="/zone_b2b/templates/enterprise/style2/two_layout.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/zone_b2b/js/mobandh.js"></script>
<script type="text/javascript" src="/js/prototype.js"></script>
</head>
 
<body class="bg">
<!--头部1-->
<div class="moban_top" align="center">
<div class="moban_top_div">
<div class="moban_top_left"> <a href="javascript:window.external.AddFavorite( top.location.href )">收藏本公司</a>  |  <a href=# onClick="this.style.behavior='url(#default#homepage)';var strUrl = top.location.href;this.setHomePage( strUrl );">设为首页</a> </div>
<div class="moban_top_right"><img src="/zone_b2b/templates/enterprise/style2/images/max.gif" align="absbottom"/>&nbsp;<a href="/index.jsp">登录商务室</a> | <a href="/mainMenu/default.jsp">发布产品信息</a> | <a href="/service/vip.html">金钻会员</a> | <a href="/service/contact.html">联系我们</a> | <a href="/support/default.html">客服中心</a>
</div>
</div>
<!--头部2-->
<div class="moban_head">
 <div class="moban_head_left">
 	&nbsp;
 </div>
<div class="moban_head_right">
            <div class="moban_head_right_zi">&nbsp;<!--第一年--></div>
        </div>
</div>
<!--导航-->
<div class="moban-dh">
<table width="96%" border="0" cellpadding="0" cellspacing="0"  align="center">
  <tr><td align="center" class=dh id="top_dh0"><a href="index.htm">公司介绍</a></td>
<td align="center" class=dh id="top_dh1"><a href="supply.htm">最新供应</a></td>
<td align="center" class=dh id="top_dh2"><a href="credit.htm">资质荣誉</a></td>
<td align="center" class=dh id="top_dh3"><a href="stock.htm">公司采购</a></td>
<td align="center" class=dh id="top_dh4"><a href="active.htm">公司动态</a></td>
<td align="center" class=dh id="top_dh5" style="display:none"><a href="bidding.htm">公司招标</a></td>
<td align="center" class=dh id="top_dh6"><a href="techo.htm">公司技术</a></td>
<td align="center" class=dh id="top_dh7"><a href="product.htm">公司产品</a></td>
<td align="center" class=dhse id="top_dh8"><a href="resume.htm">招聘中心</a></td>
<td align="center" class=dh id="top_dh9"><a href="leavel.htm">客户留言</a></td></tr></table>
</div>
<!--banner条-->
<div class="moban-banner">
<div class="moban-banner-zi">
{#cust:name#}</div>
</div>
<div class="moban-width">

<!--左边-->
<div class="moban-left" align="center">
<!--栏目条1-->
<div class="moban-left-lmt">
<div class="moban-left-lmt1">联系方式</div>
<div class="moban-left-lmt2"><!--a href="#">更多>></a-->&nbsp;</div>
</div>
<div class="moban-left-zi">
法人代表：{#juristic#}<br>			 
邮箱：{#mail#}<br>
电话：{#telephone#}<br>
传真：{#fax#}<br>
地址：{#address#}<br>
邮编：{#postcode#}<br>
网站地址：{#website#}</div>

<!--栏目条2-->
<div class="moban-left-lmt">
<div class="moban-left-lmt1">友情链接</div>
<div class="moban-left-lmt2">&nbsp;</div>
</div>
<!--内容2-->
<div class="moban-leftlist">
<div class="moban-left-list"><ol>{#linker#}</ol></div>
</div>
</div>

<!--右边-->
<div class="moban-right">
<!--招聘中心-->
<div class="moban-right-lmt">
<div class="moban-right-lmt1">招聘中心</div>
<div class="moban-right-lmt2"><a href="/zone_b2b/job/jobinfo.jsp?cust_id={#cust_id#}"  target="blank">更多>></a></div>
</div>
<div class="cswidth">
	 
	<table width="98%" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#eeeeee">
      <tr>
        <td width="14%" background="/zone_b2b/templates/enterprise/style2/images/moban_01.gif"><span class="rencei-tt0">职位</span></td>
        <td width="35%" background="/zone_b2b/templates/enterprise/style2/images/moban_01.gif"><span class="rencei-tt0">工作地点</span></td>
        <td width="51%" background="/zone_b2b/templates/enterprise/style2/images/moban_01.gif"><span class="rencei-tt0">要求</span></td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><a href="{#link-1#}">{#job:title-1#}</a></td>
        <td bgcolor="#FFFFFF">{#job:addr-1#}</td>
        <td bgcolor="#FFFFFF">{#job:request-1#}</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><a href="{#link-2#}">{#job:title-2#}</a></td>
        <td bgcolor="#FFFFFF">{#job:addr-2#}</td>
        <td bgcolor="#FFFFFF">{#job:request-2#}</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><a href="{#link-3#}">{#job:title-3#}</a></td>
        <td bgcolor="#FFFFFF">{#job:addr-3#}</td>
        <td bgcolor="#FFFFFF">{#job:request-3#}</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><a href="{#link-4#}">{#job:title-4#}</a></td>
        <td bgcolor="#FFFFFF">{#job:addr-4#}</td>
        <td bgcolor="#FFFFFF">{#job:request-4#}</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><a href="{#link-5#}">{#job:title-5#}</a></td>
        <td bgcolor="#FFFFFF">{#job:addr-5#}</td>
        <td bgcolor="#FFFFFF">{#job:request-5#}</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><a href="{#link-6#}">{#job:title-6#}</a></td>
        <td bgcolor="#FFFFFF">{#job:addr-6#}</td>
        <td bgcolor="#FFFFFF">{#job:request-6#}</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><a href="{#link-7#}">{#job:title-7#}</a></td>
        <td bgcolor="#FFFFFF">{#job:addr-7#}</td>
        <td bgcolor="#FFFFFF">{#job:request-7#}</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><a href="{#link-8#}">{#job:title-8#}</a></td>
        <td bgcolor="#FFFFFF">{#job:addr-8#}</td>
        <td bgcolor="#FFFFFF">{#job:request-8#}</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><a href="{#link-9#}">{#job:title-9#}</a></td>
        <td bgcolor="#FFFFFF">{#job:addr-9#}</td>
        <td bgcolor="#FFFFFF">{#job:request-9#}</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><a href="{#link-0#}">{#job:title-0#}</a></td>
        <td bgcolor="#FFFFFF">{#job:addr-0#}</td>
        <td bgcolor="#FFFFFF">{#job:request-0#}</td>
      </tr>
  </table>
</div>
<!--最新供应-->
<div class="moban-right">
<!--栏目条1-->
<div class="moban-right-lmt">
<div class="moban-right-lmt1">公司产品</div>
<div class="moban-right-lmt2"><a href="/zone_b2b/enterprise/moreProduct.jsp?cust_id={#cust_id#}" name= "mapId" target="blank">更多>></a></div>
</div>
<div class="cswidth">
      <div class="moban-right-cplist">
    	    <div><a href="{#pic:link-1#}"><img src="{#prod:pict-1#}" width="118" height="115" border="0"></a></div>
				  <div><a href="{#pic:link-1#}">{#prod:title-1#}</a></div>
		  </div>
      <div class="moban-right-cplist">
      		<div><a href="{#pic:link-1#}"><img src="{#prod:pict-2#}" width="118" height="115" border="0"></a></div>
				  <div><a href="{#pic:link-2#}">{#prod:title-2#}</a></div>
		 </div>
     <div class="moban-right-cplist">
     			<div><a href="{#pic:link-1#}"><img src="{#prod:pict-3#}" width="118" height="115" border="0"></a></div>
				  <div><a href="{#pic:link-3#}">{#prod:title-3#}</a></div>
		 </div>
     <div class="moban-right-cplist">
    			<div><a href="{#pic:link-1#}"><img src="{#prod:pict-4#}" width="118" height="115" border="0"></a></div>
				  <div><a href="{#pic:link-4#}">{#prod:title-4#}</a></div>
		 </div>
</div>
</div>
</div>
<!--底部-->
<div class="moban-bottom">
	{#include:bottom#}
</div>
</div>
</body>
</html>
