<html>
<head>
<title>模板5</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (模板5.psd - Slices: 03, 05, 08, 12, 14, 16, 19, 22, 26, 28) -->
<table id="__01" width="1201" height="1501" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="1200" height="142" colspan="15">
			<img src="images/分隔符.gif" width="1200" height="142" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="142" alt=""></td>
	</tr>
	<tr>
		<td width="284" height="35" colspan="4">
			<img src="images/分隔符.gif" width="284" height="35" alt=""></td>
		<td>
			<img src="images/moban6_03.gif" width="99" height="35" alt=""></td>
		<td width="7" height="35">
			<img src="images/分隔符.gif" width="7" height="35" alt=""></td>
		<td>
			<img src="images/moban6_05.gif" width="83" height="35" alt=""></td>
		<td width="727" height="35" colspan="8">
			<img src="images/分隔符.gif" width="727" height="35" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="35" alt=""></td>
	</tr>
	<tr>
		<td width="120" height="1107" colspan="2" rowspan="10">
			<img src="images/分隔符.gif" width="120" height="1107" alt=""></td>
		<td colspan="11">
			<img src="images/moban6_08.gif" width="960" height="226" alt=""></td>
		<td width="120" height="1107" colspan="2" rowspan="10">
			<img src="images/分隔符.gif" width="120" height="1107" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="226" alt=""></td>
	</tr>
	<tr>
		<td width="960" height="29" colspan="11">
			<img src="images/分隔符.gif" width="960" height="29" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="29" alt=""></td>
	</tr>
	<tr>
		<td width="2" height="852" rowspan="8">
			<img src="images/分隔符.gif" width="2" height="852" alt=""></td>
		<td colspan="5" rowspan="2">
			<img src="images/moban6_12.gif" width="716" height="58" alt=""></td>
		<td width="16" height="852" rowspan="8">
			<img src="images/分隔符.gif" width="16" height="852" alt=""></td>
		<td colspan="3">
			<img src="images/moban6_14.gif" width="217" height="33" alt=""></td>
		<td width="9" height="852" rowspan="8">
			<img src="images/分隔符.gif" width="9" height="852" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="33" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<img src="images/moban6_16.gif" width="217" height="65" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td width="716" height="794" colspan="5" rowspan="6">
			<img src="images/分隔符.gif" width="716" height="794" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="40" alt=""></td>
	</tr>
	<tr>
		<td width="217" height="76" colspan="3">
			<img src="images/分隔符.gif" width="217" height="76" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="76" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="images/moban6_19.gif" width="217" height="36" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="36" alt=""></td>
	</tr>
	<tr>
		<td width="217" height="83" colspan="3">
			<img src="images/分隔符.gif" width="217" height="83" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="83" alt=""></td>
	</tr>
	<tr>
		<td width="12" height="559" rowspan="2">
			<img src="images/分隔符.gif" width="12" height="559" alt=""></td>
		<td>
			<img src="images/moban6_22.gif" width="195" height="25" alt=""></td>
		<td width="10" height="559" rowspan="2">
			<img src="images/分隔符.gif" width="10" height="559" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td width="195" height="534">
			<img src="images/分隔符.gif" width="195" height="534" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="534" alt=""></td>
	</tr>
	<tr>
		<td width="112" height="216" rowspan="3">
			<img src="images/分隔符.gif" width="112" height="216" alt=""></td>
		<td colspan="13">
			<img src="images/moban6_26.gif" width="976" height="1" alt=""></td>
		<td width="112" height="216" rowspan="3">
			<img src="images/分隔符.gif" width="112" height="216" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="1" alt=""></td>
	</tr>
	<tr>
		<td colspan="13">
			<img src="images/moban6_28.gif" width="976" height="100" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="100" alt=""></td>
	</tr>
	<tr>
		<td width="976" height="115" colspan="13">
			<img src="images/分隔符.gif" width="976" height="115" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="1" height="115" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/分隔符.gif" width="112" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="2" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="162" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="99" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="7" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="83" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="365" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="16" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="12" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="195" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="9" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="images/分隔符.gif" width="112" height="1" alt=""></td>
		<td></td>
	</tr>
</table>
<!-- End ImageReady Slices -->
</body>
</html>