<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<title>{#WebTitle#}</title>
		<link href="/zone_b2b/templates/enterprise/default/css/new-ym-layout.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/js/prototype.js"></script>
		<script type="text/javascript" src="/zone_b2b/js/custLeave.js"></script>
		<script type="text/javascript" src="/zone_b2b/js/mobandh.js"></script>
	</head>
	<body>
		<table width="950" border="0" cellspacing="0" cellpadding="0" align="center">
			<tr>
				<td>
					<div class="new-ym-header">
						<div class="new-ym-header4">
							<a href="index.htm">公司介绍</a>&nbsp;&nbsp;&nbsp;
							<a href="supply.htm">最新供应</a>&nbsp;&nbsp;&nbsp;
							<a href="credit.htm">资质荣誉</a>&nbsp;&nbsp;&nbsp;
							<a href="stock.htm">公司采购</a>&nbsp;&nbsp;&nbsp;
							<a href="active.htm">公司动态</a>&nbsp;&nbsp;&nbsp;
							<!--a href="bidding.htm" >公司招标</a-->
							<a href="techo.htm">公司技术</a>&nbsp;&nbsp;&nbsp;
							<a href="product.htm">公司产品</a>&nbsp;&nbsp;&nbsp;
							<a href="resume.htm">招聘中心</a>&nbsp;&nbsp;&nbsp;
							<a href="leavel.htm" class="new-dh">客户留言</a>&nbsp;&nbsp;&nbsp;
						</div>
					</div>
					<div class="new-ym-header1">
						<div class="new-ym-header2">
							{#cust:name#}
						</div>
					</div>
					<div class="new-ym-header3">
						<div class="new-ym-header5">
							目前位置：
							<a href="/">首页</a>&nbsp;-&gt;&nbsp;
							<a href="/zone_b2b/enterprise/customer/{#cust_id#}/leavel.htm">客户留言</a>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td valign="top" width="950">
					<div class="new-ym-left">
						<div class="new-ym-left1">
							<div class="new-ym-left2">
								<div class="new-ym-left4">
									联系方式
								</div>
							</div>
							<div class="new-ym-left3">
								<div class="new-ym-left5">
									<ol>
										<li>
											法人代表：{#juristic#}
										</li>
										<li>
											邮箱：{#mail#}
										</li>
										<li>
											电话：{#telephone#}
										</li>
										<li>
											传真：{#fax#}
										</li>
										<li>
											地址：{#address#}
										</li>
										<li>
											邮编：{#postcode#}
										</li>
										<li>
											网站地址：{#website#}
										</li>
									</ol>
								</div>
							</div>
						</div>
						<div class="new-ym-left1">
							<div class="new-ym-left2">
								<div class="new-ym-left4">
									友情链接
								</div>
							</div>
							<div class="new-ym-left3">
								<div class="new-ym-left6">
									<ol>
										{#linker#}
									</ol>
								</div>
							</div>
						</div>
					</div>
					<div class="new-ym-right">
						<div class="new-ym-right1">
							<div class="new-ym-right2">
								<div class="new-ym-right4">
									公司简介
								</div>
								<div class="new-ym-right6">&nbsp;<!--a href="#">更多>></a--></div>
							</div>
							<div class="new-ym-right3">
								<div class="new-ym-right5">
									<div class="new-ym-right7">
										<img src="{#company_logo#}" width="140" height="130" />
									</div>
									<div class="new-ym-right8">
										{#cust:scope#}
									</div>
								</div>
							</div>
						</div>
						<div class="new-ym-right1">
							<div class="new-ym-right2">
								<div class="new-ym-right4">
									公司产品
								</div>
								<div class="new-ym-right6">
									<a href="/zone_b2b/enterprise/moreProduct.jsp?cust_id={#cust_id#}" name="mapId" target="blank">更多>></a>
								</div>
							</div>
							<div class="new-ym-right3">
								<div class="new-ym-right5">
									   <table width="600" align="left" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
          <tr>
						<td width="20%">
							<div class="new-ym-right52">
								<a href={#pic:link-1#}><img src="{#prod:pict-1#}" width="140" height="110" border="0"/></a>
							</div>
							<div class="new-ym-right51">
								<a href={#prod:link-1#}>{#prod:title-1#}</a>
							</div>
						</td>
						<td width="15"></td>
						<td width="20%">
							<div class="new-ym-right52">
								<a href={#pic:link-2#}><img src="{#prod:pict-2#}" width="140" height="110" border="0"/></a>
							</div>
							<div class="new-ym-right51">
								<a href={#prod:link-2#}>{#prod:title-2#}</a>
							</div>
						</td>
						<td width="15"></td>
						<td width="20%">
							<div class="new-ym-right52">
								<a href={#pic:link-3#}><img src="{#prod:pict-3#}" width="140" height="110" border="0"/></a>
							</div>
							<div class="new-ym-right51">
								<a href={#prod:link-3#}>{#prod:title-3#}</a>
							</div>
						</td>
						<td width="15"></td>
						<td width="20%">
							<div class="new-ym-right52">
								<a href={#pic:link-4#}><img src="{#prod:pict-4#}" width="140" height="110" border="0"/></a>
							</div>
							<div class="new-ym-right51">
								<a href={#prod:link-4#}>{#prod:title-4#}</a>
							</div>
						</td>
			    </tr>
			   </table>
			   				</div>
							</div>
						</div>
						<div class="new-ym-right1">
							<div class="new-ym-right2">
								<div class="new-ym-right4">
									客户留言
								</div>
								<div class="new-ym-right6">
									&nbsp;
								</div>
							</div>
							<input name="root_id" id="root_id" value="{#cust:idx#}" type="hidden"/>
							<input name="cust_id" id="cust_id" value="{#cust:idx#}" type="hidden"/>
								<div class="new-ym-right3">
										<div class="new-ym-right9">
												<div id="list1">
														<div class="text">
																<div id="liuyan1">
																	<div id="commentDIV"></div>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div></div>
				</td>
			</tr>
			 
		</table>
		<div class="moban-bottom">
		  {#include:bottom#} 
	  </div> 
	</body>
</html>
